.envrc

.vscode

db.sqlite3

#########################
# FOR DJANGO and IDE	#
#########################
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__

node_modules/*

# webpack
static/bundles
webpack-stats.json

# Django stuff(Logs):
*.log

# uploaded file
media