{% extends "master.html" %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load render_bundle from webpack_loader %}

{% block main_css %}
{{block.super}}
{% endblock %}

{% block main_js %}
  {{block.super}}
{% endblock main_js %}

{% block main_content %}
<form method="GET" action="{% querystring %}" id="table_form">
  <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
              {% include 'lists/search_bar.html' with field=filter.form.name placeholder='Search by team member name' %}
            </div>
            <div class="col-1">
              {%include 'lists/add_button.html' with reverse_url='team_members:add' title='Create a new team member' %}
            </div>
        </div>
      </div>
      <div class="card-body">
          {% render_table table %}
      </div>
  </div>
</form>
{% endblock %}
