{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    {% block main_js %}
      {% render_bundle 'runtime' %}
      {% render_bundle 'main_css' %}
      {% render_bundle 'vendor' %}
      {% render_bundle 'libs' %}
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="app">
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="app-body">
        <main class="main">
            <div class="container{% if non_fluid %}{% else %}-fluid{% endif %} my-4">
              {% block content %}
              {% endblock %}
          </div>
        </main>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
