
<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">Nav Title</li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="nav-icon material-icons align-middle">home</i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'team_members:add' %}">
            <i class="nav-icon material-icons align-middle">check_circle</i> Team Members
          </a>
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon material-icons align-middle">people</i> User
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="nav-icon material-icons align-middle">assignment_ind</i> Active user
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="nav-icon material-icons align-middle">list</i> Inactive user
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>