{% load static %}
{% load i18n %}

{% block main_css %}
	<link href="{% static 'css/master_header.css' %}" rel="stylesheet">
{% endblock %}

<header class="app-header navbar">
    <a class="navbar-brand" href="">
        <img class="navbar-brand-full" src="{% static 'img/icon.png' %}" height="35" alt="app Logo">
        <img class="navbar-brand-minimized" src="{% static 'img/icon.png' %}" height="25" alt="app Logo">
    </a>
    <!-- hidden only om small laptops -->
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show" id="navbar_toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- boostrap navigation bar -->
    <ul class="nav navbar-nav d-md-down-none">
        <!-- padding left and right -->
        <li class="nav-item px-3">
            <a class="nav-link" href="">Dashboard</a>
        </li>
    </ul>
    <!-- bootstrap navigation bar with dropdown -->
    <ul class="nav navbar-nav ml-auto">
        <div>
          <span>Welcome, {{ request.user }}</span>
        </div>
        <li class="nav-item dropdown">
            <!-- bootstrap dropdown -->
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <span class="material-icons">account_circle</span>
            </a>
            <!-- boostrap dropdown selection -->
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>{% trans 'Settings' %}</strong>
                </div>
                <div class="divider"></div>
                <a class="dropdown-item" href="">
                    <i class="nav-icon material-icons align-middle">check</i>
                    {% trans 'Profile Settings' %}
                </a>
                <a class="dropdown-item" href="">
                    <!-- vertical alignment -->
                    <i class="nav-icon material-icons align-middle">settings</i>
                    {% trans 'Company Settings' %}
                </a>
                <a class="dropdown-item" href="" onclick="event.preventDefault(); document.getElementById('logout_form').submit()">
                    <i class="nav-icon material-icons align-middle">power_settings_new</i>
                    {% trans 'Logout' %}
                </a>
            </div>
        </li>
    </ul>
    <!-- logout URL provided by django-allauth -->
    <form class="form-group" id="logout_form" method="POST" action="{% url 'account_logout' %}" style="display:none" novalidate="">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>
</header>
